<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class ="row">
      <div class ="col-3">
        <div class="circle">
          <br />
          Starwars
          <br />
          Quote
          <br />
          Generator
        </div>
      </div>
      <div class = "col-4 slogan">
        Splurring out your favorite star wars quotes!
      </div>
      <div class ="col-5 links">
        <%= link_to 'Contribute', '#' %>
        <%= link_to 'About', '#' %>
      </div>
    </header>
    
    <hr />
    
    <br clear="clear" />
    
    <%= yield %>
  </body>
</html>
